<html>
<head>
	<title><%- title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="./main.css">
	<style>
		#wrap{
			display: none;
			position: fixed;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			z-index: 1000;
			background: rgba(204, 204, 204, 0.5);
    }
    #word_wrap{
      height: 75px;
      width: 80%;
      margin: 0 auto;
      padding: 20px 0px;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 40%;
      text-align: center;
      background: #fd5481;
      color: #fff;
      border-radius: 5px;
    }
    #word{
      display: inline-block;
    }
	</style>
</head>
<body>
	<header>
		<a href="./">
			<img src="<%= avatar %>" class="header-avater" />
		</a>
		<a href="./">
			<h1 class="header-title"><%= title %></h1>
		</a>
		<ul class="m-nav">
			<li><a href="./">首页</a><span class="sep">/</span></li>
			<li><a href="javascript:void(0)" onclick="showTogetherTime()">Love</a><span class="sep">/</span></li>
			<li><a href="javascript:void(0)" onclick="alert('还没做…')">搜索</a></li>
		</ul>
	</header>
	<!-- pop -->
	<div id="wrap" onclick="hideTogetherTime()">
    <div id="word_wrap">
      <div id="word">
        Y & M
        </br>
        </br>
        <span id="time">xxxx天x小时x分钟1秒</span>
      </div>
    </div>
  </div>
	<!-- pop -->
  <div class="layout">
  	<%- galleryHtml %>
  </div>
  <footer class="footer">
  	<p>Powered by <a href="https://test.com" target="_blank">zhaoyang</a></p>
  </footer>
	<script src="./main.js"></script>
</body>
<script>
  var together = new Date();
  together.setFullYear(2018, 3, 18);
  together.setHours(18);
  together.setMinutes(30);
  together.setSeconds(0);
  together.setMilliseconds(0);
  setInterval(function(){
    timeElapse(together);
	}, 30);
	
	function showTogetherTime(){
		var el = document.getElementById('wrap');
		el.style.display = 'block';
	}
	function hideTogetherTime(){
		var el = document.getElementById('wrap');
		el.style.display = 'none';
	}

  function timeElapse(date){
    var current = Date();
    var seconds = (Date.parse(current) - Date.parse(date)) / 1000;
    var days = Math.floor(seconds / (3600 * 24));
    seconds = seconds % (3600 * 24);
    var hours = Math.floor(seconds / 3600);
    if (hours < 10) {
      hours = "0" + hours;
    }
    seconds = seconds % 3600;
    var minutes = Math.floor(seconds / 60);
    if (minutes < 10) {
      minutes = "0" + minutes;
    }
    seconds = seconds % 60;
    if (seconds < 10) {
      seconds = "0" + seconds;
    }
    var result = days + "天" + hours + "小时" + minutes + "分钟" + seconds + "秒"; 
    var el = document.getElementById('time');
    el.innerText = result;
    // $("#clock").html(result);
  }
</script>
</html>
